div.modal-dialog {
    display: flex;
    justify-content: center;
}

div.modal-content {
    color: white;
    width: 95%;
    text-align: left;
    border: 1px solid rgba(255, 253, 253, 0.1);
}

div.modal-div {
    margin: 0% 5%;
    padding: 2%;
    border-top: 1px solid rgba(255, 253, 253, 0.2);
}

div.modal-picture-div {
    border: initial;
    padding: initial;
    margin: initial;
    padding-top: 5%;
    display: flex;
    flex-direction: column;

}



div.modal-div p {
    margin: initial;
}

div.modal-footer {
    margin-top: 5%;
}

img.modal-img {
    align-self: center;
    width: 100%;
}


svg {
    margin: 3px;
}

@media screen and (min-width: 768px) {
    div.modal-body {
        display: flex;
        flex-direction: row;
    }

    div.modal-picture-div {
        width: 50%;
    }

    img.modal-img {
        align-self: center;
        width: 70%;
    }

    div.modal-user-info {
        width: 50%;
    }

}